<launch>
	<arg name="rviz" default="true" />
        <arg name="DirectoryPath" default="/home/daniel/Downloads/export/Wed_2023.01.11_17:24:01/" />
	

        <param name="voxel_size" type="double" value="1" />
        <param name="DirectoryPath" type="string" value="$(arg DirectoryPath)" />

	<node pkg="balm2" type="benchmark_realworld" name="benchmark_realworld" output="screen" />

	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find balm2)/rviz_cfg/back.rviz" />
	</group>  

</launch>
